:root {
  --white: #ffffff;
  --black: #000;
  --lighterPurple : #e6cdff;  
  --lightPurple : #A478D1;
  --purple : #4B2D86;
  --darkGray : #4d4d4d;
  --bs-heading-color:#000;
  --blueCyan :#4478D1;
  --bs-secondary-bg-rgb: 245,249,255;
}

body { font-family: 'Lato', sans-serif; font-size:0.875rem; }

a {transition: all 0.3s ease; text-decoration: none; color: var(--blueCyan);}
a:hover {color: var(--purple);}

.white-color-link { color: var(--white);}
.white-color-link:hover { color: var(--lightPurple);}

/* Font */
@font-face{font-family:Lato;src:url('../webfont/Lato-Regular.woff2') format('woff2'),url('../webfont/Lato-Regular.woff') format('woff');font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:Lato;src:url('../webfont/Lato-Bold.woff2') format('woff2'),url('../webfont/Lato-Bold.woff') format('woff');font-weight:700;font-style:normal;font-display:swap}@font-face{font-family:Lato;src:url('../webfont/Lato-Black.woff2') format('woff2'),url('../webfont/Lato-Black.woff') format('woff');font-weight:900;font-style:normal;font-display:swap}@font-face{font-family:'Lato Hairline';src:url('../webfont/Lato-Hairline.woff2') format('woff2'),url('../webfont/Lato-Hairline.woff') format('woff');font-weight:100;font-style:normal;font-display:swap}@font-face{font-family:Lato;src:url('../webfont/Lato-Light.woff2') format('woff2'),url('../webfont/Lato-Light.woff') format('woff');font-weight:300;font-style:normal;font-display:swap}

h1, .h1 { font-weight: 900; font-size: 1.5rem;}
h2, .h2 { font-weight: 900; font-size: 1.375rem;}
h3, .h3 {font-size: 1.25rem;}
h4, .h4 { font-size: 1.25rem;}
h5, .h5  { font-size: 1.125rem;}

.fs-14 { font-size: 0.875rem !important;}

input[type="file"]::file-selector-button { display: none;}


.title-tagline { font-size: 16px; color: var(--darkGray); }
.title span {background: linear-gradient(262.1deg,#A478D1 11.94%,#4478D1 90.66%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text;}

.text-purple {color: var(--purple);}

.carousel-indicators [data-bs-target] { opacity: 1; background-color:var(--lightPurple);}
.carousel-indicators button.active {opacity: 1; background-color:var(--purple);}

.accordion-button:focus { box-shadow: none; border: 0;}
.accordion-button:not(.collapsed) { background-color: transparent; color: var(--purple); font-weight: 700;}
.accordion-item:not(:first-of-type) { border-top: 1px solid var(--bs-accordion-border-color);}
.accordion-button:not(.collapsed) { box-shadow: none;}

.list-style {list-style-type: none; margin: 0; padding: 0;}
.list-style li::marker { display: none;}
.list-style li::before { font-family: 'bootstrap-icons'; content: "\f135"; font-weight: 700; color:var(--blueCyan); font-size: 18px; float: left; list-style-type: none; margin: 0 5px 0 0; display: inline-block; vertical-align: top;}
.list-style li { padding: 3px 0;}


.list-style-none { list-style-type: none;}
.sticky-top-80 { top: 80px;}

.fw-bolder { font-weight: 900 !important;}
.letter-spacing {letter-spacing: .04em;}

.btn { font-size: 0.9rem; border-radius: 0; transition: all 0.2s linear; padding:0.60rem 1.25rem; position: relative; overflow: hidden; z-index: 1; font-weight: 700;}
.btn:after { top: 50%; left: 50%; content: ""; width: 100%; height: 0%; z-index: -1; position: absolute;   -webkit-transition: all 0.6s ease; transition: all 0.6s ease; -webkit-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); }
.btn:hover:after, .btn:focus:after { height: 380%; }

.btn.btn-primary {border-color: var(--blueCyan); background-color: var(--blueCyan) ;}
.btn.btn-primary:hover {border-color: var(--purple); background-color: var(--purple) ;}
.btn.btn-primary:after { background: var(--purple);}

.btn.btn-secondary {border-color: var(--lightPurple); background-color: var(--lightPurple) ;}
.btn.btn-secondary:hover {border-color: var(--blueCyan); background-color: var(--blueCyan) ;}
.btn.btn-secondary:after { background: var(--blueCyan);}

.bg-secondary-dark {background: var(--purple) !important;}

.form-control:focus { box-shadow: none; border-color: var(--purple);}

.w-h-30px { width: 35px; height: 35px; }

.cursor-pointer { cursor: pointer;}

.svg-mask { -webkit-mask-box-image: url(../images/clipping-shape2.svg); /* mask-border: url(../images/clipping-shape2.svg); */ width: 100%; height: 100%; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat}

@media (min-width: 768px) {
  .title-tagline { font-size: 20px;}
  .h1, h1 { font-size: 1.75rem;}
  .h2, h2 { font-size: 1.5rem;}
  .h3, h3 { font-size: 1.375rem;}
}

@media (min-width: 768px) {
  .lh-lg-lg {
    line-height: 2!important;
}
}

@media (min-width: 1200px) {
  .h1, h1 { font-size: 2rem;}
  .h2, h2 { font-size: 1.75rem;}
  .h3, h3 { font-size: 1.5rem;}
}

/* End Common CSS */

/* Start Header CSS */
.header {border-top: 3px solid var(--purple); border-bottom: 1px solid var(--purple); z-index: 99 !important;}

.navbar .nav-item:hover .dropdown-menu { transform: rotateX(0deg); visibility: visible; transition:all 0.3s ease; opacity: 1;}
.navbar-nav .nav-link { color: var(--black); font-size:0.875rem; font-weight: 700; text-transform: uppercase;}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active { color: var(--lightPurple);}
.navbar .nav-item .dropdown-item {padding: 8px 20px; font-size: 14px; border-bottom: 1px solid rgba(153, 153, 153, 0.133); border-radius: 0.25rem; font-weight: 700;}
.navbar .nav-item .dropdown-menu li:last-child .dropdown-item { border: none;}
.navbar .nav-item .dropdown-item:hover, .navbar .nav-item .dropdown-item:active, .navbar .nav-item .dropdown-item.active {color:var(--lightPurple); background-color: transparent;}

.navbar .nav-item .dropdown-toggle::after { top:14px;transform:rotate(45deg);transform-origin:center;z-index:123;position:absolute;content:"";width:7px;height:7px;border-top:2px solid #4B2D86;border-left:2px solid #4B2D86;transform:rotate(225deg);right:0; border-right: transparent; transition:all 0.3s ease;}
.navbar .nav-item:hover .dropdown-toggle::after {transform:rotate(45deg); top: 17px;}

.navbar-toggler { border: 0; padding: 0;}
.navbar-toggler:focus {box-shadow: none;}


@media (min-width: 1200px) {
  .navbar-nav .nav-link { font-size: 0.9375rem; }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu { display: block; visibility: hidden; top: 100%; transform: rotateX(-75deg); transform-origin: 0% 0%; transition: all 0.3s ease; opacity: 0; -webkit-box-shadow: 0 0 20px rgba(0, 0, 0,.1); box-shadow: 0 0 20px rgba(0, 0, 0,.1); border: 0; padding: 0; border-radius: 0; }
  .navbar .nav-item:last-child .dropdown-menu { right: 0;}
  .navbar .nav-item .dropdown-toggle::after { right: -10px;}
}
/* End Header */

/* Inner Banner */
.inner-banner {background: rgb(164,120,209); background: linear-gradient(90deg,rgba(164,120,209,1) 35%,rgba(68,120,209,1) 100%)}
.breadcrumb a { color: var(--white); font-weight: 700;}
.breadcrumb a:hover { color: var(--purple);}
.breadcrumb-item.active {color: var(--white); font-weight: 700;}
.breadcrumb-item+.breadcrumb-item::before {color: var(--white);}
/* End Inner Banner */

/*FAQ Page */
.faq-list-scrollspy a.active {color: var(--purple); border-right: 5px solid var(--purple);}

/* Services Detail Page */
@media (min-width: 768px) {
  .technology-stack-bg { background: url(../images/technology-stack.png) no-repeat top center; background-size: 100% auto; padding-bottom: 20px; }
  .technology-stack-bg .col-md-4, .technology-stack-bg .col-md-3 {padding: 40px 0px 0 0;}
}

@media (min-width: 992px) {
  .technology-stack-bg .col-md-4, .technology-stack-bg .col-md-3 {padding: 80px 0px 0 0;}
}

@media (min-width: 1200px) {
  .technology-stack-bg { padding-bottom: 90px;}
  .technology-stack-bg .col-md-4, .technology-stack-bg .col-md-3 {padding: 140px 0px 0 0;}
}


